body {
    font-family: "Dosis", sans-serif;
    margin: 0;
    background-color: #a3eb00;
    background-image: linear-gradient(90deg, #D1F57F 0%, #687A3F 100%);
}
.container {
    max-width: 100%;
    background-color: #a3eb00;
    background-image: linear-gradient(90deg, #D1F57F 0%, #687A3F 100%);
    margin: 0 auto;
    padding: 0 15px;
}
.nav-container {
    width: 100%;
    background-color: rgba(245, 98, 75,1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    z-index: 1000;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.4);
}
.nav-content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.nav-logo {
    font-size: 2em;
    color: white;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    align-items: center;
}
.nav-menu a {
    color: aliceblue;
    margin: 0 20px;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 600;
    transition: color 0.3s ease;
}
.nav-menu a:hover {
    color: #ffd700; /* Color hacer hover */
}


.baseBuscador{
  background-color: #f5624b;
  height: 4.5em;
  display: flex;
  border-radius: 20px;
}
.buscador{
  background-color: #f5624b;
  border-radius: 20px;
  margin-left: 2%;
  width: 100%;
}
.buscar{
  border: 0;
  width: 100%;
}
.orden{
z-index: 1;
margin-top: 5px;
}
.bdesple{
  background-color: #4c6b06;
  border-radius: 5px;
  width: 8em;
  border: none;
}
.bcarrito{
  background-color: #4c6b06;
  border-radius: 5px;
  width: 4em;
  border: none;
}
#demo0{
  text-align: center;
  background-color: aliceblue;
  width: 8.5em;
}
.ord{
    width: 7em;
}
.tipos{
  color: white;
  text-decoration: none;
}
.filtros{
  background-color: #f5624b;
  padding: 1em 3em;
  margin: 1em 1em;
  border-radius: 20px;
  max-width: 15em;
  min-height: fit-content;
}
.relleno{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}
.contenido{
  background-color: #f5624b;
  border-radius: 20px;
  margin-top: 1em;
  width: 100%;
  min-height: fit-content;

}
.product-container{
  display: inline-block;
  width: 13em;
  margin: 1.5em 1.5em;
  text-align: center;
  background-color: #ffea80;
  border-radius: 5px;
  padding: 10px;
}
.card-number{
  width: 40%;
}
.card-img{
  width: 80%;
  height: 10em;
  margin: 1em;
}
.filter{
  margin: 5px;
}
.alertCompra{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgb(230, 230, 230);
  height: 300px;
  width: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-direction: column;
  -webkit-box-shadow: 6px 9px 32px 18px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 9px 32px 18px rgba(0,0,0,0.75);
  box-shadow: 6px 9px 32px 18px rgba(0,0,0,0.75);
}
.product-cart {
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: large;
  display: flex;
  align-items: center;
  width: 300px;
  height: 200px;
  padding: 10px;
  background-color: #ffea80;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cart-img {
  width: 150px;
  height: 150px;

}
.content-cart {
  padding: 5px;
  text-align: center;
  align-content: center;
}
.content-cart p {
  margin: 3px;
}
.cantidad {
  top: 11px;
  left: 14px;
  background-color: #f5624b;
  color: #fff;
  padding: 4px 10px;
  border-radius: 10px;
}
.listaCompra{
  z-index: 1;
  position: absolute;
  margin-top: -3.3%;
  margin-left: 75%;
  max-width: max-content;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  padding: 3px;
  display: none;
}
.product-viewCesta{
  max-height: min-content;
  background-color: #ffea80;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1px;
  padding-bottom: 2px;
}
.viewCesta{
  text-align: left;
  vertical-align: middle;
}




.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.burger div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px;
    transition: background-color 0.3s ease;
}
.burger:hover div {
    background-color: #ffd700; /* Color dorado al hacer hover */
}
@media (max-width: 768px) {
    .nav-container {
        padding: 15px 20px;
    }
    .nav-content {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-menu{
        display: none;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
    }
    .burger {
        display: flex;
        position: absolute;
        right: 20px;
        top: 15px;
    }
    .nav-container.active .nav-menu,
    .nav-container.active {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .nav-menu a {
        width: 100%;
        padding: 15px 0; /* Aumentar el margen entre los elementos */
        text-align: left;
        background-color: white;
        color:black;
        margin: 0 !important;
        text-align: center

    }
    .nav-social img {
        margin: 15px 20px;
    }
    
   
}
