#banner{
    background-image: url(/frutas.jpeg); 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    height: 9em;
}
body{
    font-family: "Dosis", sans-serif;
    font-weight: 400;
    font-size: large;
    background-color: #a3eb00;
    background-image: linear-gradient(90deg, #D1F57F 0%, #687A3F 100% );
}
.nav-container{
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display:flex;
  justify-content: space-between;
}
.nav-container nav{
  background-color:  rgba(245, 98, 75, 0.8);
  margin: 0 auto;
  height: 80px;
  padding: 4px 48px;
  box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, 0.4);
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
}
.menu{
  display: flex;
  align-items: center;
  height: 70px;
}
.menu > a{
  color: aliceblue;
  margin: 0 24px;
  text-decoration: none;
  position: relative;
}
.nav-container .social{
  background-color: ghostwhite;
  padding: 4px 16px;
  border-radius: 20px;
}
.nav-container .social img{
  vertical-align: middle;
  transition: all 500ms;
  height: 25px;
}
.nav-container .social a{
  margin: 0 12px;
  text-decoration: none;
}
.relleno{
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
}
.filtros{
  background-color: #f5624b;
  padding: 18px 32px;
  margin: 24px 10px;
  border-radius: 20px;
  width: 15%;

}
.tipos{
  color: white;
  text-decoration: none;
}
.baseBuscador{
  background-color: #f5624b;
  width: 120%;
  height: 3,5em;
  display: flex;
  border-radius: 20px;
  padding: 15px;
  margin-top: 1em;  
}
.buscador{
  background-color: #f5624b;
  border-radius: 20px;
  margin-left: 2%;
}
.buscar{
  border: 0;
  margin-left: -2em;
}
#buscar{
  border: 0;
  width: 50em;
}
.orden{
  margin-left: 3em;
  
}
.bdesple{
  background-color: #4c6b06;
  border-radius: 5px;
  width: 8em;
  border: none;
}
#demo0{
  text-align: center;
  background-color: aliceblue;
  width: 6em;
}
#demo0 a{
  text-decoration: none;
  color: black;
}
.contenido{
  background-color: #f5624b;
  border-radius: 20px;
  margin-top: 1.35em;
  margin-left: -12%;
  width: 120%;
  min-height: fit-content;
  padding: 3em;
}
.product-container{
  display: inline-block;
  width: 12em;
  margin: 1.5em;
  text-align: center;
}
